body {
    font-family: 'Montserrat', 'IBM Plex Mono', sans-serif;
}

.navbar-brand {
    font-family: 'Krona One';
    font-weight: 700;
    font-size: 30px;
}

.navbar-brand span {
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    vertical-align: super;
}

.header__autor__desc h2 {
    font-weight: 700;
    font-size: 35px;
}

.header__autor__desc p {
    font-weight: 400;
    font-size: 25px;
}